---
layout: default
---
<h1>meow!</h1>
<p>you have reached the Internet Website of the Iris System.</p>

<section id="bloglatest">
    <h2>latest blog post</h2>
    <ul class="post-list">
        {% include post_list_entry.html post=site.posts.first %}
    </ul>
    <p>
        <a href="{{ site.baseurl }}/blog/">browse the rest of the blog</a>,
        or {% include blog_feed_link.html text="subscribe to the RSS feed" %}
    </p>
</section>

<section id="things">
    <h2>things we've done</h2>
    <ul>
        <li>
            <a href="//pluralkit.me">PluralKit</a>, a Discord bot for message proxying
            &ndash; plus,
            <a href="//irys.cc/#pluralkit">web tools</a> and
            <a href="//github.com/u1f408/pkmisc">other scripts</a>
            using the PluralKit API
        </li>
    </ul>
</section>

<section id="contact">
    <h2>in other places</h2>
    <ul>
        <li>github: <a rel="me" href="https://github.com/u1f408">u1f408</a></li>
        <li>bluesky: <a rel="me" href="https://bsky.app/profile/catstret.ch">@catstret.ch</a></li>
        <li>fediverse: <a rel="me" href="https://cloudisland.nz/@iris">@iris@cloudisland.nz</a></li>
        <li>email: <a href="mailto:hi@catstret.ch">hi@catstret.ch</a></li>
    </ul>
</section>
