/* this overrides some shit from https://assets.irys.cc/css/main.css */

h1 {
	margin: 1.25rem 0;
}

.post-header h2 {
    font-size: 1.125rem;
    font-style: italic;
    margin: -1rem 0 1.25rem 0;
}

.post-header .post-meta {
	position: relative;
	margin-top: -0.75rem;
}

main img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    height: auto;
}

blockquote ~ .quote-attr {
    position: relative;
    margin-top: -1rem;
    padding: 0.5rem 1rem 0 1.5rem;
    border-left: 2px solid var(--foreground);
}

blockquote ~ .quote-attr::before {
    content: '\20\2014\20';
}
