<header class="primary">
	<a class="brand" href="/" {% if slug == "/" %}aria-selected{% endif %}>{{ site.var.title }}</a>
	<a href="/system" {% if slug == "/system" %}aria-selected{% endif %}>the system</a>
	<a href="/projects" {% if slug == "/projects" %}aria-selected{% endif %}>projects</a>
</header>
