---
layout: default
---

<header class="post-header">
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
        <h2>{{ page.subtitle }}</h2>
    {% endif %}

    <aside class="post-meta">
        <ul class="inline-list">
            <li><date datetime="{{ page.date | date_to_xmlschema }}" title="{{ page.date | date_to_xmlschema }}">posted on {{ page.date | date_to_long_string }}</date></li>
            {%- if page.tags.size > 0 -%}
            <li>
                tags:
                {%- for tag in page.tags %}
                    <a href="{{ site.baseurl }}/tag/{{ tag }}/">#{{ tag | escape }}</a>
                {%- endfor -%}
            </li>
            {%- endif -%}
        </ul>
    </aside>
</header>

{{ content }}

<footer class="post-footer">
    <p>
        {% capture commentEmailSubject %}re: {{ page.title }}{% endcapture %}
        <a href="mailto:blog@catstret.ch?subject={{ commentEmailSubject | uri_escape }}"><!--
            -->thoughts? comments? send us an email!<!--
        --></a>

        (there's no public comment section, because trying to fight the spam is a sisyphean endeavour)
    </p>

    <p>
        permalink: <a class="monospace" href="{{ page.url | absolute_url }}">{{ page.url | absolute_url }}</a>
    </p>
</footer>
